@charset "UTF-8";

table .info {
	border: solid 1px #385723;
}

.commontable {
	width: 700px;
	margin: auto;
	padding: 1px;
	border-spacing: 3px;
	border-radius : 3px;
}

.nTitle {
	width : 300px;
	background-color: #97A68C;
	text-align: center;
}

.info {
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#write {
	background-color: #385723;
	color: white;
	width: 100px;
	height: 40px;
}

#noticeType {
	width: 142px;
	height: 34px;
}

#searchCategory {
	width: 142px;
	height: 34px;
}

#searchInfo {
	width: 200px;
	height: 34px;
}

#search {
	width: 56px;
	height: 34px;
	background-color: #548235;
	color: white;
	border: 1px;
	font-size: 18px;
	border-radius : 5px;
}

#nNo{
	width : 7%;
}

#noInfo{
	padding: 100px;
}